.f1{
    padding-left: 50rem;
}
.i1{
    width: 20rem;
}
#t1{
    text-align: center;
    color: white;
}
#t2{
    font-weight: bold;
    color: yellow;
}
#t3{
    color: white;
}
#f3{
    padding-top: 6rem;
}