#t1{
    color: white;
    text-align: center;
}
#t2{
    color: white;
}
.i1{
    width: 20rem;
    border-radius: 3rem;
}
.f1{
    padding-left: 50rem;
}
#tx1{
    color: white;
    font-size: 4rem;
    text-align: center;
    position: relative;
    top: 10rem;
}
#tx2{
    color: white;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 13rem;
}
.btn-co{
   padding-top: 15rem;
}
#wh1{
    padding-left: 75rem;
}